
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex=25>
        <h1 align="center"><b>Login Form</b></h1>
        <form fxLayoutAlign = "stretch" fxLayout = "column">
            <mat-form-field >
              <input matInput placeholder="UserName">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password">
              </mat-form-field>

              <mat-card fxLayout="row wrap" fxLayoutGap="30px">

               <button mat-raised-button color="primary" type="submit">Login</button>
               <button mat-button color="primary">Register</button>
              </mat-card>
             </form>
          

    </mat-card>
</div>